/* search */
input[type="search"] {
  -webkit-appearance: none;
}

.search-box {
  padding: 12px;
  position: relative;
}

.search-box-search {
  position: relative;
}

.input-search::placeholder {
  font-style: normal;
}

a.input-search-icon {
  position: absolute;
  margin-top: -34px;
  width: 34px;
  height: 34px;
  opacity: 0.6;
  right: 0;
}

i.icons {
  width: 13px;
  height: 13px;
  margin: 3.5px 0px 0px 0px;
  vertical-align: text-top;
  display: inline-block;
}
